<html>
<head>
</head>
<body>
  <% if !failed.empty? %>
    <h2>Failed:</h2>
    <% failed.each do |name, output| %>
      <a href="<%= name %>.txt"><font color="failed"><%= name %></font></a><br/>
    <% end %>
  
  <% end %>
  
  <h2>Passed:</h2>
  <% passed.each do |name, output| %>
    <a href="<%= name %>.txt"><font color="green"><%= name %></font></a><br/>
  <% end %>

</body>
